<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flibble</display-name>
  <welcome-file-list>
    <welcome-file>H1.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlibbleBridge</display-name>
    <servlet-name>FlibbleBridge</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.FlibbleBridge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlibbleBridge</servlet-name>
    <url-pattern>/FlibbleBridge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameController</display-name>
    <servlet-name>GameController</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.GameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameController</servlet-name>
    <url-pattern>/GameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CGame</display-name>
    <servlet-name>CGame</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.CGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CGame</servlet-name>
    <url-pattern>/CGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinIn</display-name>
    <servlet-name>JoinIn</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.JoinIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinIn</servlet-name>
    <url-pattern>/JoinIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadInit</display-name>
    <servlet-name>LoadInit</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.LoadInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadInit</servlet-name>
    <url-pattern>/LoadInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TGame</display-name>
    <servlet-name>TGame</servlet-name>
    <servlet-class>sg.edu.ntu.Flibble.TGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TGame</servlet-name>
    <url-pattern>/TGame</url-pattern>
  </servlet-mapping>
</web-app>